<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
>

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="STORAGE_PUBLIC_SOURCE" value="public.storage.memory" force="true" />
        <server name="STORAGE_PRIVATE_SOURCE" value="private.storage.memory" force="true" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value="82606bc67450107ba25020c478c6e02e"/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <!-- Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url -->
        <!-- IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml -->
        <!--  -->
        <!-- DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db" -->
        <!-- DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7" -->
        <env name="DATABASE_URL" value="postgresql://symfony:ChangeMe@127.0.0.1:5432/app?serverVersion=13&amp;charset=utf8"/>
        <!-- ###- doctrine/doctrine-bundle ### -->

        <!-- ###+ nelmio/cors-bundle ### -->
        <env name="CORS_ALLOW_ORIGIN" value="'^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'"/>
        <!-- ###- nelmio/cors-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./src/Kernel.php</directory>
            <directory>./src/Domain/Model/Generated</directory>
            <directory>./src/Domain/Dao/Generated</directory>
            <directory>./src/Domain/ResultIterator/Generated</directory>
            <directory>./src/Infrastructure/Command/DevFixturesCommand.php</directory>
            <directory>./src/Infrastructure/Command/InitializeMinIOStorageCommand.php</directory>
            <directory>./src/Infrastructure/EventSubscriber</directory>
            <directory>./src/Infrastructure/Fixtures</directory>
            <directory>./src/Infrastructure/S3</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage" />
            <text outputFile="php://stdout" />
        </report>
    </coverage>
</phpunit>