parameters:
    level: 8
#    autoload_files:
#        - application/bootstrap_phpstan.php
    treatPhpDocTypesAsCertain: false
    parallel:
        processTimeout: 360.0
    # Check with PHPCS
    checkMissingIterableValueType: false
    paths:
        - src
    doctrine:
        objectManagerLoader: phpstan/entity-manager.php

    excludePaths:
        - src/Kernel.php
includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

## May have to add static forbidden