parameters:
    level: 8
#    autoload_files:
#        - application/bootstrap_phpstan.php
    treatPhpDocTypesAsCertain: false
    parallel:
        processTimeout: 360.0
    # Check with PHPCS
    checkMissingIterableValueType: false
    paths:
        - src
    doctrine:
        objectManagerLoader: phpstan/entity-manager.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    excludePaths:
        - src/Kernel.php
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

rules:
	- App\DevTools\PHPStan\RouteSecurityChecker

## May have to add static forbidden