// Weird issue, probably because the theme is loaded after primevue
// So the divider style did not apply
// This shall be removed after further update of the prime module
.p-divider-solid.p-divider-horizontal:before {
  border-top-style: solid;
}
.p-divider-dashed.p-divider-horizontal:before {
  border-top-style: dashed;
}
.p-divider-solid.p-divider-vertical:before {
  border-left-style: solid;
}
.p-divider-dashed.p-divider-vertical:before {
  border-left-style: dashed;
}