include:
  - local: 'gitlab-ci/templates/apps.gitlab-ci.yml'

test front build:
  stage: "test"
  needs:
    - 'build front dev'
  extends:
    - '.app front cache-rw'
  script:
    - exit 0
  rules:
    - !reference [.except hotfix rules, rules]
    - when: always

front linter:
  stage: 'test'
  needs:
    - 'test front build'
  extends:
    - '.app front'
  script:
    - yarn lint
  rules:
    - !reference [.except hotfix rules, rules]
    - when: always
